@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  float: left;
  height: 60px;
  pointer-events: none;
}

.App-title {
  color: #61dafb;
  font-size: 24px;
  line-height: 60px;
  float: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 60px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
